[user]
# TODO
  name = sea_mountain
  email = seaforestmountain@gmail.com

[color]
  status = auto
  diff = auto
  branche = auto

[alias]
  st = status
  ci = commit -v
  co = checkout
  br = branch
  df = diff
  logg = log --graph --decorate --pretty=format:\"%ad [%cn] %h> %n %Cgreen%d%Creset %s %n\" --name-status
  logs = log --graph --decorate --pretty=format:\"%ad [%cn] %h> %n %Cgreen%d%Creset %s %n\" --stat -p

[core]
  editor = /usr/bin/vim
  excludesfile = /Users/sea_mountain/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
